<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>인덱스 페이지 입니다.</h1>
<button onclick="saveReq()">글작성</button>
<button onclick="listReq()">글목록</button>
<button onclick="pagingReq()">페이징목록</button>
</body>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

    function listReq() {
        location.href = "/board/";
    }

    function pagingReq() {
        location.href = "/board/paging";
    }
</script>
</html>